[user]
    name = junk
    email = 66475075+a7p11t@users.noreply.github.com
[core]
    editor = vim
    autoclrf = input
    quotepath = false
[merge]
    ff = false
[pull]
    ff = only
[init]
    defaultBranch = main
