[user]
    name = junk
    email = 66475075+a7p11t@users.noreply.github.com
[core]
    editor = vim
    autoclrf = input
    quotepath = false
[merge]
    ff = false
[pull]
    ff = only
[init]
    defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
